/*::-webkit-scrollbar{*/
    /*display: none;*/
/*}*/

*{
    margin:0;
    padding:0;
}

html, body{
    height:100%;

}
div {
    display: block;
}
.site-wrapper{
    position: relative;
    top: 0;
    height:100%;
    /*width: 100%;*/
    /*overflow: hidden*/
}

.site-main{
    position: relative;
    top:0;
    height: 100%;
}

.fullPage{
    height: 100vh;
    position: relative;
    width: 100%;
}

.welcomePage{
    z-index: 300;
    /*overflow: hidden;*/
    background: lightskyblue;
}

.splitPage{
    position: relative;
    min-height:100%;
    z-index: 200;
}

/*.sticky-wrapper{*/
    /*position: absolute;*/
    /*width: 50%;*/
    /*top: 0;*/
    /*left: 0;*/
    /*z-index: 200;*/

    /*height:100%;*/
/*}*/


/*.fixed{*/
    /*position: fixed;*/
    /*top:0;*/
/*}*/

/*.is-sticky{*/
    /*!*position: fixed;*!*/
    /*margin: 0;*/
    /*padding:0;*/
    /*width: 50%;*/
    /*top: 0;*/
    /*left: 0;*/

    /*height:100%;*/
/*}*/

.leftSide.fixed{
    position: fixed;
}

.leftSide{
    position: absolute;
    height:100%;
    width: 50%;
    top: 0;
    left: 0;
    z-index: 200;

    /*display:table;*/

    /*animation*/
    transition: 1s;
    -webkit-transition: 1s;

}

.leftSide.compress{
    width: 25%;
}

.chapterTitle{
    text-align: center;
    vertical-align: middle;
    padding-top: 50%;

    /*display: table-cell;*/
    /*height:100%;*/

}

.aboutPage .leftSide{
    background: #f8cacc;
    /*background: rgb(41,41,41);*/
}
.workPage .leftSide{
    background: lightsteelblue;
}
/*.workPage .rightSide{*/
    /*background: #000;*/
/*}*/

.contactPage .leftSide{
    background: lightcyan;
}
.rightSide{
    position: relative;
    top:0;
    left: 50%;
    width: 50%;
    z-index: 100;
    height:100%;

    transition: 1s;
    -webkit-transition: 1s;
}
.rightSide.expand{
    left:25%;
    width: 75%;
}

.content{
    padding: 10%;
    padding-left:15%;
}



.firstTitle{
    /*position: absolute;*/
    /*padding: 36px 0;*/
    padding-top: 2%;
    text-align: center;
    font-size:18px;
    font-weight:bold;
}



nav > ol, nav > ul {
    list-style: none;
    padding: 0;
    margin: 0
}

nav > ol li, nav > ul li {
    margin: 0;
    padding: 0
}

.main-nav {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0
}

.main-nav ul {
    padding: 36px 0;
    text-align: center
}

.main-nav ul li {
    display: inline-block
}

.main-nav ul li:before {
    content: '/';
    padding: 0 12px 0 9px
}

.main-nav ul li:first-child:before {
    display: none
}

.main-nav ul li a {
    color: inherit;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.main-nav ul li a:after {
    bottom: -.4em;
    border-width: 2px;
    display: none
}

.main-nav ul li a:hover:after {
    display: block
}

.text-color--red {
    color: white;
}

.underlined--white:after {
    border-color: #fff
}



/*.vertical-align-helper:before {*/
    /*content: '';*/
    /*display: inline-block;*/
    /*height: 100%;*/
    /*vertical-align: middle;*/
    /*margin-left: -5px;*/

    /*text-align: center*/
/*}*/

/*.vertical-align-helper > [class*=vertical-align--] {*/
    /*display: inline-block;*/
    /*width: 100%*/
/*}*/



/* The hero image */
.fullPage-image {
    /* The image used */

    /* Set a specific height */
    height: 100%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.footerPage{
    position: absolute;
    top:0;
    left: 0;
    z-index: -1;
    padding-top:200%;
    height:100%;
    width:100%;

}

footer{
    position: absolute;
    top:0;
    left: 0;
    z-index: -1;
    padding-top:400%;
    height:100vh;
    /*overflow: hidden;*/

    /*height: */
    /*padding-top: 300%;*/
    /*overflow: hidden;*/
    /*padding-top: 100%;*/

    /*z-index: -1;*/
}
/*footer{*/
    /*content: '';*/
    /*display: block;*/
    /*padding-top: 600%;*/
    /*z-index: -1;*/
/*}*/
/*.footerPage:after {*/
    /*content: '';*/
    /*display: block;*/
    /*padding-top: 200%;*/

/*}*/

.about-image{
    width:40%;
    height: 100%;
    padding-bottom: 5%;
    border-radius: 50%;
}

.portrait{
    max-width: 135px;
    position: absolute;
    right: -67px;
    top: 96px
}

.socialLogo{
    display: inline;
}

/*project */
.csstransitions .chapter--expanded .project .project__header .header__image, .csstransitions .chapter--loading .project .project__header .header__image, .csstransitions .project .project__header:hover .header__image {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3)
}

.no-csstransforms3d .header__cta {
    display: none
}

.project {
    overflow: hidden;
    position: relative;
    width: 100%;
    left: 0;
    -webkit-transition: 1s left cubic-bezier(.77, 0, .175, 1);
    transition: 1s left cubic-bezier(.77, 0, .175, 1)
}

.project:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.project:active{
    -ms-transition-duration: 0.2s;
    -ms-transform: scale(0.95);}
/*.project{*/
    /*overflow: hidden;*/
    /*display: block;*/

    /*height: 100%;*/

    /*!* Position and center the image to scale nicely on all screens *!*/
    /*!*background-position: center;*!*/
    /*!*background-repeat: no-repeat;*!*/
    /*!*background-size: cover;*!*/
    /*!*position: relative;*!*/
/*}*/
/*.p1-image{*/
    /*background-image: url("../img/jeju.jpg");*/
/*}*/

/*.p2-image{*/
    /*background-image: url("../img/footer.JPG");*/
/*}*/

/*.img{*/
    /*max-width:100%;*/
    /*max-height:100%;*/

    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*-webkit-transform: scale(1);*/
    /*-ms-transform: scale(1);*/
    /*transform: scale(1);*/
    /*background-size: cover;*/
    /*background-position: center center;*/
    /*-webkit-transition: 15s -webkit-transform linear;*/
    /*transition: 15s transform linear*/
/*}*/

.project .project__header {
    display: block;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transition: .8s height cubic-bezier(.77, 0, .175, 1);
    transition: .8s height cubic-bezier(.77, 0, .1project__content75, 1);

    height: 100vh;

}

.project .project__header .header__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 15s -webkit-transform linear;
    transition: 15s transform linear;
}

/*.project .project__header .header__image:hover{*/
    /*-webkit-transform: scale(1);*/
    /*-ms-transform: scale(1);*/
    /*transform: scale(1);*/
    /*-webkit-transition: .4s -webkit-transform cubic-bezier(.175, .885, .32, 1.275);*/
    /*transition: .4s transform cubic-bezier(.175, .885, .32, 1.275);*/

/*}*/

.project .project__header .header__subtitle {
    font-size: 11px;
    letter-spacing: .1em
}

.project .project__header .header__cta {
    margin-top: 2em;
    -webkit-transition: .4s -webkit-transform cubic-bezier(.6, -.28, .735, .045) .5s;
    transition: .4s transform cubic-bezier(.6, -.28, .735, .045) .5s
}

.project .project__header .header__cta .button__label {
    -webkit-transform: translateY(-50%) scale(1);
    -ms-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1);
    -webkit-transition: .4s cubic-bezier(.6, -.28, .735, .045) 0s;
    transition: .4s cubic-bezier(.6, -.28, .735, .045) 0s
}

.project .project__header .header__content {
    position: relative
}

.project .project__header:hover .header__cta {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .4s -webkit-transform cubic-bezier(.175, .885, .32, 1.275) 0s;
    transition: .4s transform cubic-bezier(.175, .885, .32, 1.275) 0s
}

.project .project__header:hover .header__cta .button__label {
    -webkit-transform: translateY(-50%) scale(1);
    -ms-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1);
    -webkit-transition: .4s cubic-bezier(.165, .84, .44, 1) .3s;
    transition: .4s cubic-bezier(.165, .84, .44, 1) .3s
}

.project .project__content {
    overflow: hidden;
    position: relative;
}

.project .project__close {
    display: none
}

/*charpter expand*/
.chapter--expanded .project .project__header, .chapter--loading .project .project__header {
    cursor: default
}

.chapter--expanded .project .project__header .header__image, .chapter--loading .project .project__header .header__image {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3)
}

.chapter--expanded .project .project__header .header__cta, .chapter--loading .project .project__header .header__cta {
    -webkit-transform: scale(.5);
    -ms-transform: scale(.5);
    transform: scale(.5);
    -webkit-transition: .4s -webkit-transform cubic-bezier(.6, -.28, .735, .045) .5s, .8s height cubic-bezier(.77, 0, .175, 1) .5s;
    transition: .4s transform cubic-bezier(.6, -.28, .735, .045) .5s, .8s height cubic-bezier(.77, 0, .175, 1) .5s
}

.chapter--expanded .project .project__header .header__cta .slice, .chapter--loading .project .project__header .header__cta .slice {
    border-left-color: #000
}

.chapter--expanded .project .project__header .header__cta .button__label, .chapter--loading .project .project__header .header__cta .button__label {
    -webkit-transform: translateY(-50%) scale(0);
    -ms-transform: translateY(-50%) scale(0);
    transform: translateY(-50%) scale(0);
    -webkit-transition: .4s cubic-bezier(.6, -.28, .735, .045) 0s;
    transition: .4s cubic-bezier(.6, -.28, .735, .045) 0s
}

.chapter--expanded .project {
    width: 100%;
    left: 0;
    -webkit-transition: 1s left cubic-bezier(.77, 0, .175, 1) 0s, 1s width cubic-bezier(.77, 0, .175, 1) 0s;
    transition: 1s left cubic-bezier(.77, 0, .175, 1) 0s, 1s width cubic-bezier(.77, 0, .175, 1) 0s
}

.chapter--expanded .project .project__header .header__cta {
    height: 0;
    -webkit-transition: .4s -webkit-transform cubic-bezier(.6, -.28, .735, .045) .5s, .8s height cubic-bezier(.77, 0, .175, 1) .5s;
    transition: .4s transform cubic-bezier(.6, -.28, .735, .045) .5s, .8s height cubic-bezier(.77, 0, .175, 1) .5s
}