/*::-webkit-scrollbar{*/
    /*display: none;*/
/*}*/

*{
    margin:0;
    padding:0;
}

html, body{
    height:100%;

}
div {
    display: block;
}
.site-wrapper{
    position: relative;
    top: 0;
    height:100%;
    /*width: 100%;*/
    /*overflow: hidden*/
}

.site-main{
    position: relative;
    top:0;
    height: 100%;
}

.fullPage{
    height: 100vh;
    position: relative;
    width: 100%;
}

.welcomePage{
    z-index: 300;
    /*overflow: hidden;*/
    background: lightskyblue;
}

.splitPage{
    position: relative;
    min-height:100%;
    z-index: 200;
}

.sticky-wrapper{
    position: absolute;
    width: 50%;
    top: 0;
    left: 0;
    z-index: 200;

    height:100vh;
}


.is-sticky{
    /*position: fixed;*/
    margin: 0;
    padding:0;
    width: 50%;
    top: 0;
    left: 0;

    height:100vh;
}

.leftSide{
    height:100%;
    /*animation*/
    /*-webkit-transition: 1s width cubic-bezier(.77,0,.175,1);*/
    /*transition: 1s width cubic-bezier(.77,0,.175,1);*/
}

.aboutPage .leftSide{
    background: lightcoral;
}
.workPage .leftSide{
    background: lightskyblue;
}
/*.workPage .rightSide{*/
    /*background: #000;*/
/*}*/

.contactPage .leftSide{
    background: lightcyan;
}
.rightSide{
    position: relative;
    top:0;
    left: 50%;
    width: 50%;
    z-index: 100;
    height:100%;
}




.aboutContent{
    padding: 10%;
}

.endPage{
    height: 100vh;
    z-index: 200;

    background-color: lightcoral;
    /*position: relative;*/
    /*z-index: -1;*/
}

p{
    text-align: center;
}


.aboutPage p{
    text-align: left;
}